* {
  margin: 0;
  padding: 0;
  border: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html {
  background: black;
}
body {
  font-family: sans-serif;
  background-color: #000000;
  background: radial-gradient(circle at center, #003636 0%, #002b2b 40%, #001818 80%, #000 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;
  flex-direction: row;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px); /* Blurs content behind this element */
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); /* Fades blur from top to bottom */
  z-index: 2;
}
.top .wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}
.top .logo {
  flex: 1;
  justify-content: flex-end;
  color: white;
  z-index: 4;
  align-content: center;
  padding: 20px;
}
.top .nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  z-index: 4;
}
.top .nav a {
  color: white;
  text-decoration: none;
  height: 100%;
  align-content: center;
}



.header {
  height: 400px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.header-cat {
  height: 400px;
}

.posts-grid {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 20px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}
.post-card {
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  gap: 5px;
  padding: 10px;

}
.post-card:hover {
  background-color: orange;
}
.post-image {
  align-self: center;
}
.post-title {
  color: white;
  text-decoration: none;
}

.page {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 20px;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: orange;
  color: white;
}
.button-critical {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: red;
  color: white;
}


footer {
  padding: 20px;
}