* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: sans-serif;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
}
.top .logo {
  flex: 1;
  justify-content: flex-end;
}
.top .nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
}
.top .nav a {
  color: white;
  text-decoration: none;
  height: 100%;
  align-content: center;
}



.header {
  height: 500px;
  display: flex;
  align-items: end;
}