* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: sans-serif;
  background-color: #000000;
  background: radial-gradient(circle at center, #003636 0%, #002b2b 40%, #001818 80%, #000 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;
  flex-direction: row;
  z-index: 3;
}
.top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px); /* Blurs content behind this element */
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); /* Fades blur from top to bottom */
  z-index: 2;
}
.top .logo {
  flex: 1;
  justify-content: flex-end;
  color: white;
  z-index: 4;
  align-content: center;
  padding: 20px;
}
.top .nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  z-index: 4;
}
.top .nav a {
  color: white;
  text-decoration: none;
  height: 100%;
  align-content: center;
}



.header {
  height: 500px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.posts-grid {
  background-color: rgba(255, 255, 255, 0.05);
}